---
title: Welcome to Middleman
---

.welcome
  %h1 Middleman is WatchingJk:
  %p.doc
    = link_to "Read Online Documentation", "http://middlemanapp.com/"
  / .doc
/ .welcome

%section
  Hello world!
